# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/voting_app/node_modules
/time_tracking_app/node_modules
/forms/node_modules
/webpack/node_modules

# testing
/voting_app/coverage
/time_tracking_app/coverage
/forms/coverage
/webpack/coverage

# production
/voting_app/build
/time_tracking_app/build
/forms/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

reports/
tests_output/
npm-debug.log.*
